 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deepface</title>
    <style>
        .row{
            min-height: 500px;
        }
        .margin-bottom {
          margin-bottom:15px;
      }
    </style>
  
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" >
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
      <div class="row align-items-center">
        <div class="col">
        </div>
        <div class="col">
          <form role="form" class='form-horizontal' action="process/" method="post" enctype="multipart/form-data" >
            {% csrf_token %}
           
              <div class="form-group" style="padding: 10px;">
                <label for="modelDropDown">Select a Model</label>
                <select  name="model_choices"  class="form-select" id="modelDropDown" aria-label="Default select example">
                  <option selected>Open this select menu</option> 
                  {%for model in form.model_choices%}                    
                  <li> {{model}} </li>
                  {%endfor%}
                </select>
               </div>
               <div class="form-group" style="padding: 10px;">
                  <label for="distance_metric">Select Distance Matric</label>
                  <select name="metric_choices" class="form-select" id="distance_metric" aria-label="Default select example">
                    <option selected>Open this select menu</option> 
                    {%for metric in form.metric_choices%}                    
                    <li> {{metric}} </li>
                    {%endfor%}
                    
                  </select>
                 </div>
                 <div class="form-group" style="padding: 10px;">
                  <label for="backend_detector">Select Backend Detector</label>
                  <select name="detector_choices" class="form-select" id="backend_detector" aria-label="Default select example">
                    <option selected>Open this select menu</option> 
                    {%for detector in form.detector_choices%}                    
                    <li> {{detector}} </li>
                    {%endfor%}
                  </select>
                 </div>
                 <div class="form-group col-xs-3 " style="padding: 10px;">
                  
                  <input type="file"  id="myImage" name="img" accept="image/*"/>

                </div>
                <div class="form-group col-xs-3 " style="padding: 10px;">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            </form>
        </div>
        <div class="col">
          
        </div>
      </div>
      
</body>
</html>